<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="<%= htmlWebpackPlugin.files.css %>">
</head>
<body>
<div class="fixed">
    <div>
        <pre>
The Input range element breaks WebSocket onmessage event
Time is sent by WebSocket
Time will freeze when scrolling page with mouse wheel or touchpad
        </pre>
    </div>
    <div id="time"></div>
</div>
<% for(var i=0; i<htmlWebpackPlugin.files.js.length; i++) {%>
<script src="<%= htmlWebpackPlugin.options.CDN_HOST%><%= htmlWebpackPlugin.files.js[i] %>"></script>
<% } %>
</body>
</html>